#first {
text-align: center;
}

#second {
margin-top: 350px;
margin-left: 200px;
}

#third {
margin-left: 1300px;
margin-top: -120px;
}

#forth {
  margin-left: 35px;
}

#fifth {
  margin-left: 35px;
}

#size {
  text-align: center;
}